body {
    font-family: Arial;
    font-size: 13px;
}

header {
    display: block;
    position: absolute;
    top: 10px;
    right: 30px;
}

header ul {
    list-style: none;
}

header li {
    display: inline-block;
    margin: 10px 5px;
}

header a {
    color: hsl(0, 0%, 0%);
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    color: hsla(0, 0%, 0%, 0.54);
    background-color: hsl(0, 0%, 95%);
    font-size: small;
    font-family: Arial;
}

footer ul {
    list-style: none;
    border-top: 1px hsl(0, 0%, 68%) solid;
    margin: 0 auto;
    display: block;
    width: 100%;
}

#up {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
}

#down {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
}

#right, #left {
    display: inline-block;
}

#right {
    position: absolute;
    right: 30px;
}

footer li {
    display: inline-block;
}

.izq {
    margin-right: 20px;
}

.der {
    margin-left: 20px;
}

main {
    text-align: center;
    margin: 0 auto;
    position: relative;
    top: 200px;
}

main img {
    margin-bottom: 20px;
}

main input {
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
    width: 500px;
    height: 45px;
    border-radius: 3px;
    border: none;
    border: 1px gray solid;
    box-shadow: 0 1px 0 0 gray;
}

main button {
    height: 35px;
    color: hsl(0, 0%, 46%);
    border: 1px solid hsl(0, 0%, 95%);
    box-shadow: none;
    opacity: 0.8;
    font-weight: bold;
    border-radius: 2px;
    margin: 0 5px 20px 5px;
}

main button:hover {
    color: hsl(0, 0%, 0%);
    opacity: 1;
    background-color: hsl(0, 0%, 90%);
}

footer a {
    color: gray;
}

#square {
    margin-top: -20px;
    margin
}

#iniciar {
    background-color: blue;
    padding: 8px 10px;
    color: white;
    border-radius: 4px;
    font-weight: bold;
}