body {
    font-family: Arial;
    font-size: 13px;
}

header {
    display: block;
    position: absolute;
    top: 10px;
    right: 30px;
}

header ul {
    list-style: none;
}

header li {
    display: inline-block;
    margin: 10px 5px;
}

header a {
    color: hsl(0, 0%, 0%);
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    color: hsla(0, 0%, 0%, 0.54);
    background-color: hsl(0, 0%, 95%);
    font-size: small;
    font-family: Arial;
}

footer ul {
    list-style: none;
    border-top: 1px solid #e4e4e4;
    margin: 0 auto;
    display: block;
    width: 100%;
}

#up {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    font-size: 15px;
}

#down {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
}

#right, #left {
    display: inline-block;
}

#right {
    position: absolute;
    right: 30px;
}

footer li {
    display: inline-block;
}

.izq {
    margin-right: 20px;
}

.der {
    margin-left: 20px;
}

main {
    text-align: center;
    margin: 0 auto;
    position: relative;
    top: 200px;
}

main img {
    margin-bottom: 20px;
}

main input {
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
    width: 584px;
    height: 44px;
    border-radius: 2px;
    border: none;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

main input:hover {
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

main button {
    height: 35px;
    color: hsl(0, 0%, 46%);
    border: 1px solid hsl(0, 0%, 95%);
    box-shadow: none;
    opacity: 0.8;
    font-weight: bold;
    border-radius: 2px;
    margin: 0 5px 20px 5px;
    font-family: Arial;
    font-size: 13px;
    padding: 0 16px;
    background-color: hsl(0, 0%, 95%);
}

main button:hover {
    color: hsl(0, 0%, 13%);
    background-color: hsl(0, 0%, 97%);
    border: 1px solid hsl(0, 0%, 78%);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

footer a {
    color: gray;
}

#square {
    vertical-align: middle;
}

#iniciar {
    background-color: hsl(217, 89%, 61%);
    padding: 7px 12px;
    color: hsl(0, 0%, 100%);
    border-radius: 2px;
    font-weight: bold;
    border: 1px solid hsl(217, 89%, 61%);
}